/* Fichier : client/src/styles/Exam.css */

 .local{
   margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebf1f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .container-local{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    margin-bottom: 100px;
    max-width: 600px;
    
  }

  .container-local h2{
     color:#004d4d;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .mt-7{
    font-size: 16px;
    margin-bottom: 40px;
  }

  .btn-local{
    background-color:#004d4d;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
     margin-bottom: 30px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    color: white;
  }

  .btn-local:hover{
    background-color:#4a9f9f;
  }
.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
    padding: 10px 20px;
    border-radius: 6px;
    margin-bottom: 20px;
  }

  .from-exame{
  margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebf1f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  .container-examen{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    margin-bottom: 50px;
    width: 800px;
    height: 550px;
  }

  .container-examen h2{
    margin-bottom: 50px;
    color: #109097;
    font-size: 40px;
    margin-left: 270px;
  }

  .container-examen p,h4 {
    color: #09585c;
    font-size: 20px;
    margin-bottom: 30px;
  }
  