/* Fichier : client/src/components/StudentDashboard.css */
.container-student{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebf1f7;
    font-family: Arial, sans-serif;
}

.from-student{
    width: 90%;
    max-width: 500px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.from-student h2{
    margin-bottom: 36px;
    color: #09585c;
    font-size: 36px;
}

.form-stud{
  width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.btn-etu{
  display: inline-block;
    background-color: #09585c;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%; 
}

.btn-etu:hover {
    background-color: #167e7e;
  }
  
  .mb-6 {
    margin-bottom: 15px;
  }